/* Clases del menú*/

.nav-bar ul {
    font-size: 18px;
    list-style-type: none;
    /* margin: 0em;*/
    padding: 0;
    /* text-align: center;*/
}

.nav-bar li {
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar li:hover {
    /* background-color: blue;*/
    border-radius: 10px;
    /*color: red;*/
    box-shadow: 2px 2px rgb(113, 145, 145);
}

.nav-bar li:active {
    background-color: red;
}

.nav-bar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.selected {
    font-weight: bold;
    border-bottom: solid rgb(red, green, blue);
}

.flex {
    display: flex;
    justify-content: left;
    background-color: green;
    border: dotted 2px firebrick;
    border-radius: 10px;
    padding-left: 100px;
}

.fijar-posicion {
    position: sticky;
    top: 0px;
    background-color: white;
    align-items: center;
    justify-items: center;

}

.menu {
    grid-area: menú;
}

.nav-bar li a:hover {
    color: rgb(10, 76, 78);
}

/*Aquí terminan las clases del menú*/


/* Aquí inician las clases del semifooter */
.grid-mochila {
    grid-template-columns: auto auto;
    grid-gap: 0px;
    border-radius: 20px;
    border: 101x solid black;
    display: grid;
}

.grid-articulos {
    grid-template-columns: auto auto;
    grid-gap: 0px;
    border-radius: 20px;
    border: 101x solid black;
    display: grid;
}

.grid-camaraequipo {

    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 1px;
    padding: 1px;
    font-size: 20px;
}

.grid-mochilaviaje {

    border-radius: 0px;
    border: 0px solid black;
    background-color: rgba(58, 178, 233, 0.993);
    text-align: center;
    color: white;
    margin: 0px;
    padding: 1em;
    font-size: 20px;
}

.grid-planearviaje {

    border-radius: 0px;
    border: 0px solid black;
    background-color: rgb(105, 105, 245);
    text-align: center;
    padding: 1em;
    margin: 0px;
    font-size: 20px;
    color: white;
}

.grid-mochilaccesorio {
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 1px;
    padding: 1px;
    font-size: 20px;
}

.grid-mochilaccesorio img {
    margin: 1px;
    padding: 3px;
}

.grid-mochilaccesorio p {
    text-align: left;
    margin: 1px;
    padding: 0px;
    font-size: 20px;
}

.grid-camaraequipo img {
    margin: 1px;
    padding: 1px;

}

.grid-camaraequipo p {
    text-align: left;
    margin: 1px;
    padding: 0px;
    font-size: 20px;
}



.call-action {

    border-radius: 0px;
    border: 2px solid white;
    text-align: center;
    margin: 1px;
    padding: 1px;
    font-size: 20px;
}

/* Aquí terminan las clases del semifooter */


/* Aquí van las clases del footer */

.autor {
    z-index: 10;
    position: relative;
    padding: 18px 10px 16px 30px;
    border-top: 1px solid #4b4c4d;
    background-color: #282a2b;
    color: #8C8989;
    font: 12px;
    font-family: Arial, Helvetica, sans-serif;
}